/.DetailsActivity.java._trace
/.DetailsFragment.java._trace
/.FreshnessView.java._trace
/.MyViewBinder.java._trace
/.SettingsActivity.java._trace
/.SettingsFragment.java._trace
/.StatusActivity.java._trace
/.StatusFragment.java._trace
/.TimelineFragment.java._trace
/DetailsActivity.java
/DetailsFragment.java
/FreshnessView.java
/MyViewBinder.java
/SettingsActivity.java
/SettingsFragment.java
/StatusActivity.java
/StatusFragment.java
/TimelineFragment.java
